.main{
    margin-bottom: 66px;
}

.catalog-menu ul{
    margin-bottom: 50px;
}

.catalog-menu .active{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 12px;
    color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;;
    background: #E3E3E3;
    margin-left: -12px;
    text-decoration: none;
}

.bread{
    margin-bottom: 25px;
    font-size: 11px;
    color: #9D9D9D;
}

    .bread a{
        font-size: 11px;
        color: #9D9D9D;
        text-decoration: underline;
    }

.product-item{
    margin-bottom: 25px;
}
    .product-pic{
        display: inline-block;
        /*width: 210px;
        height: 145px;*/
        /*margin-bottom: 6px;*/
    }

        .product-pic img{
            border:  5px solid #797979;

            /*box-sizing: border-box;*/
        }

.item-description{
    display: inline-block;
    max-width: 250px;
    margin-left: 20px;
    padding-top: 5px;
    vertical-align: top;
    /*box-sizing: border-box;*/
}

    .item-description h2{
        font-size: 18px;
        padding-bottom: 25px;
    }

.price{
    font-size: 18px;
    margin-bottom: 15px;
}

    .price b{
        font-size: 24px;
    }

.quantity{
    font-size: 0;
    display: inline-block;
}
    .quantity div{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 22px;
        font-size: 18px;
        /*padding: 5px;*/
        /*padding-top: 0;*/
        border: 1px solid #DADADA;
        background: white;
    }

    .quantity a{
        position: absolute;
    }

    .quantity #plus{
        border-radius: 0 6px 6px 0;
    }

    .quantity #menus{
        border-radius: 6px 0 0 6px;
    }

        .quantity #plus a{
            bottom: 2px;
            left: 4px;
        }

        .quantity #menus a{
            bottom: 5px;
            left: 5px;
        }

    .quantity input{
        vertical-align: middle;
        text-align: center;
        width: 33px;
        height: 22px;
        /*margin: -5px;*/
        padding: 0;
        border: 1px solid #DADADA;
    }

.basket{
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.basket img{
    position: absolute;
}

.basket a{
    padding-left: 22px;
    vertical-align: sub;
}

.text p {
    margin-top: 15px;
    text-align: justify;
}