.bread{
    font-size: 11px;
    color: #9D9D9D;
    margin-bottom: 25px;
}

.product-item{
    margin-bottom: 10px;
}
.product-pic{
    display: inline-block;
    /*width: 210px;
    height: 145px;*/
    /*margin-bottom: 6px;*/
}

.product-pic img{
    /*outline:  5px solid #797979;*/
    box-shadow: 5px 5px #797979;
    /*box-sizing: border-box;*/
}

.item-description{
    display: inline-block;
    max-width: 230px;
    margin-left: 20px;
    padding-top: 5px;
    vertical-align: top;
    /*box-sizing: border-box;*/
}

.item-description h2{
    font-size: 18px;
    padding-bottom: 30px;
}

.price{
    font-size: 18px;
    margin-bottom: 20px;
}

.price b{
    font-size: 24px;
}

.quantity{
    display: inline-block;
}
.quantity a{
    font-size: 18px;
    padding: 2px;
    padding-top: 0;
    border: 1px solid #DADADA;
    background: white;
}
.quantity #plus{
    border-radius: 0 10px 10px 0;
}

.quantity #menus{
    border-radius: 10px 0 0 10px;
}

.quantity input{
    width: 33px;
    height: 22px;
    margin: -5px;
    padding: 0;
    border: 1px solid #DADADA;
}

.basket{
    display: inline-block;
}

.text p {
    margin-top: 15px;
    text-align: justify;
}