@media screen and (min-width: 481px){

*{
    margin:0;
    padding:0;
}

body{
    /*width:100%;*/
    font-family:Arial, sans-serif;
    font-size:14px;
    /*min-width: 480px;*/
}

div {
    display: block;
}
/*           Общие        */


/**   Header           */
.header{
    background: url("/img/wrapperBack.png") repeat center;
    color:white;
    height: 270px;
}

    .header .can{
        margin:15px 0 10px 0;
        position: relative;
    }

    .header .logo{
        float:left;
        width: 207px;
        height: 200px;
        border: 1px solid grey;
        border-radius: 16px;
        background: black;
        box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;
    }

        .header .logo img{
            position: absolute;
            top: 41px;
            left: 60px;
            border: none;
        }

        .header .logo div{
            font-size: 24px;
            color: #E7EEEF;
            text-decoration: none;
            position: absolute;
            bottom: 39px;
            left: 39px;
        }

    .header .top{
        position: relative;
        float:right;
        height: 200px;
        width: 723px;
        background: url("/img/background.jpg") repeat space black center bottom;
        border: 1px solid grey;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
    }

        .header .top #title{
            position: absolute;
            top: 15px;
            right:0;
            left: auto;
            margin:0;
            padding:0;
        }

        .header .top h1{
            margin:0;
            font-style: italic;
            font-size: 22px;
            padding: 8px 105px 15px 30px;
            background: rgba(25, 0, 0, .5);
            border: 0 solid rgba(0, 0, 0, .3);
            border-radius: 16px 0 0 16px;
        }

        .header .top #contacts{
            position: absolute;
            bottom: 7px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding: 17px 35px 10px 30px;
            background: rgba(25, 0, 0, .5);
            border: 0 solid rgba(0, 0, 0, .3);
            border-radius: 0 16px 16px 16px;
        }

            .header .top #contacts #mail{
                margin-right: 84px;
            }

            .header .top #contacts #telephone{
                font-size: 17px;
                font-stretch: semi-condensed;
            }

    .header #reg-block {
        font-family:Tahoma, sans-serif;
        position: relative;
        list-style: none;
        width:944px;
        height: 34px;
        background: url("/img/menuBack.png") no-repeat black center;
        border: 1px solid grey;
        border-radius: 16px;
    }

.reg-form {
    margin-top: 5px;
}

    .reg-form form{
        display: inline-block;
        vertical-align: top;
    }

    .reg-form label{
        margin-left: 18px;
        color: #BFBFBF;
        font-size: 12px;
    }

        .reg-form label input{
            margin-left: 4px;
            border-radius: 6px;
            width: 113px;
            height: 20px;
            outline: none;
        }

    .reg-form a{
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 12px;
        color: white;
    }

    .reg-form #basket{
        display: inline-block;
        padding-left: 205px;
        font-size: 12px;
    }

        .reg-form #basket span{
            position: absolute;
            bottom: 10px;
        }

        .reg-form #basket a{
            margin-left: 0;
            margin-right: 0;
            font-weight: normal;
        }

        .reg-form #basket img{
            padding-right: 5px;
        }

/**   Header           */


/**    Navigation         */
nav{
    background: url("/img/nav.png") repeat-x #636A6B center;
}

nav{
    height: 48px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

    nav .mobile-menu{
        display: none;
        }

    nav .menu {
        list-style: none;
        margin:0 20px;
    }

        nav .menu li{
            display: inline-block;
            margin-top: 15px;
            margin-right: 79px;
        }

        nav .menu li:last-child{
            margin-right:0;
        }

        nav .menu a{
            color: white;
        }

        nav .menu a:hover{
            color: #FFDE00;
        }

    nav .menu li > ul{
        display: none;
    }

/**    Navigation         */

/**    Main block         */
.main{
    margin-top: 50px;
    margin-bottom: 100px;
}

    .main a{
        color: #005BC1;
    }

/**    Sidebar         */
.sidebar {
    margin-right: 40px;
    width: 175px;
    float: left;
}

    .sidebar h2{
        font-size: 17px;
        font-weight: bold;
        color: #C24000;
    }

    .sidebar ul{
        font-size: 17px;
        font-weight: bold;
    }

    .sidebar li{
        list-style: none;
        padding-left: 0;
    }

    .catalog-menu li:first-child{
        margin-top: 21px;
    }

    .catalog-menu ul{
        margin-bottom: 70px;
    }

    .catalog-menu li{
        font-size: 12px;
        margin-bottom: 15px;
    }

.news{
}

    .news li:first-child{
        margin-top: 20px;
    }

    .news h2{
        color: #058B7A;
    }

    .news ul{
        list-style: none;
    }

    .news li{
        text-align: left;
        list-style: none;
        margin-top: 11px;
        line-height: 16px;
        font-size: 11px;
    }

        .news li:last-child {
            padding-bottom: 8px;
        }

    .news .data{
        color: #707070;
        margin-top: 5px;
        font-size: 10px;
        padding-bottom: 12px;
    }

    .news .line{
        width: 138px;
        height: 2px;
        background: #dbdbdb;
    }
/**    sidebar         */

/**    content        */

.content {
    float: right;
    max-width: 725px;
    padding-top: 5px;
}

.catalog-picture {
    margin-bottom: 15px;
}

    .catalog-picture .item{
        display: inline-block;
        margin-bottom: 55px;
        font-size: 15px;
    }

        .catalog-picture .item:nth-child(3n+2){
            padding-right: 27px;
            padding-left: 27px;
        }

        .catalog-picture .item:last-child{
            padding-right: 0;
            padding-left: 30px;
        }

        .catalog-picture .item a{
            display: block;
        }

    .item a img{
        width: 210px;
        height: 145px;
        margin-bottom: 6px;
        border: 5px solid #797979;
    }

        .item:hover a img{border: 5px solid #00B31D;}
        .item:hover > a{color: #549EF1;}


.text{
    font-size: 12px;
    color: #666666;
}

    .text h2{
        font-weight: bold;
        font-size: 13px;
    }

    .text p{
        margin-top: 15px;
        line-height: 16px;
    }
/**    content         */
/**    Main block         */

/**            Footer                    */

footer{
    background: url("/img/wrapperBack.png") repeat center;
    color:white;
    min-height: 170px;
    padding-top: 15px;
}

.foot1, .foot2{
    position: relative;
    /*margin-bottom: 20px;*/
}

.inline {
    display: inline-block;
}

    .foot1 a{
        color: white;
    }

        .foot1 li a{
            font-size: 11px;
            padding: 0 10px;
            border-right: 1px solid white;
        }

        .foot1 li:last-child a{
            padding-right: 0;
            border-right: none;
        }

.copyright{
    /*float: left;*/
    /*position: absolute;*/
    color: #A4A4A4;
    font-size: 11px;
}

    .copyright h4{
        /*position: absolute;*/
        /*float: left;*/
        padding-top: 10px;
        font-size: 12px;
        font-weight: bold;
        font-family:Tahoma, sans-serif;
    }

    .foot1 ul{
        position: absolute;
        left: 210px;
    }

    footer li{
        display: inline-block;
    }

    .foot1 .dev{
        position: absolute;
        font-size: 11px;
        right: 0;
    }

.foot2{
    padding-top: 15px;
}

    .foot2 img{
        border: none;
    }

        .foot2 a:last-child{
            position: absolute;
            right: 0;
            bottom: 0;
        }
/**            Footer                    */


/**     Позиционирование                 */

.layout-positioner{
    width:944px;
    margin:0 auto;
}
.layout-positioner:after{
    content:'';
    clear:both;
    display:table;
}
}

@media (max-width: 480px){
    *{
        margin: 0;
        padding: 0;
        /*outline: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;*/
    }

    body{
        font-family:Arial, sans-serif;
        min-width: 325px;
        width: 480px;
    }

    .header{
        font-size: 0;
        max-width: 100%;
        margin-left: -5px;
        padding: 0;
        background: url("/img/wrapperBack.png") repeat top;
        color:white;
        height: 290px;
    }

        .header .can{
            position: absolute;
        }

        .header .logo{
            margin: 15px 27px;
            /*position: relative;*/
            /*float:left;*/
            max-width: 425px;
            display: inline-block;
            width: 425px;
            height: 200px;
            border: 1px solid grey;
            border-radius: 16px;
            background: black;
            box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;
        }

            .header .logo img{
                position: absolute;
                top: 40px;
                left: 50px;
                border: none;
            }

            .header .logo div{
                font-size: 24px;
                font-family:Arial, sans-serif;
                color: #E7EEEF;
                text-decoration: none;
                position: absolute;
                bottom: 35px;
                left: 25px;
            }

    .top{
        position: relative;
        padding: 35px 5px 15px 235px;
    }

        #title{
            position: relative;
        }

            #title h1{
                position: absolute;
                z-index: 99;
                top: 90px;
                font-style: italic;
                font-size: 22px;
                font-family:Arial, sans-serif;
            }

        #contacts{
            color: #E7EEEF;
        }

            #telephone{
                position: absolute;
                top: 50px;
                font-size: 17px;
                font-stretch: semi-condensed;
                width: 123px;
            }

            #mail{
                position: absolute;
                top: 75px;
                font-size: 14px;
            }

    .header #reg-block {
        margin-left: 25px;
        margin-top:235px;
        position: relative;
        list-style: none;
        width:425px;
        height: 34px;
        background: url("/img/menuBack.png") no-repeat black center;
        border: 1px solid grey;
        border-radius: 16px;
        font-family: Tahoma, sans-serif;
    }

        .reg-form {
            margin-top: 10px;
            padding-left: 25px;
        }

            .reg-form form{
                display: inline-block;
                vertical-align: top;
            }

            .reg-form label{
                display: none;
            }

                .reg-form label input{
                    display: none;
                }


        .reg-form #basket{
            display: inline-block;
            margin-left: 65px;
            font-size: 12px;
        }

            .reg-form #basket span{
                position: absolute;
                bottom: 7px;
                margin-left: 7px;
                font-family: Arial, sans-serif;
                font-size: 12px;
            }

            .reg-form #basket a{
                margin-left: 0;
                margin-right: 0;
                font-weight: normal;
            }


    nav{
        padding: 0 25px;
        background: #7C8384;
        font-family: Arial, sans-serif;
        font-size: 15px;
    }

        nav a{
            color: #ffffff;
        }

    .mobile-menu{
        padding: 15px 0;
        /*margin-bottom: 10px;*/
    }

        .mobile-menu a{
            display: inline-block;
            vertical-align: middle;
            padding-left: 15px;
        }

            .mobile-menu a:hover{
                color: #FFE558;
                text-decoration: none;
            }

        .mobile-menu img{
            display: inline-block;
            vertical-align: middle;
        }

    nav .menu{
        display: none;
        list-style: none;
        margin-left: 42px;
        padding-bottom: 30px;
    }

        nav .menu li{
            padding-top: 15px;
            /*margin-top: 15px;*/
        }

            nav .menu li:nth-child(2){
                margin-left: -10px;
                margin-top: 10px;
                /*-webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;*/
            }

                nav .menu li:nth-child(2) a{
                    color: #005BC1;
                    background: #ffffff;
                    padding: 10px 10px 15px 15px;
                    border-radius: 6px;
                }

                nav .menu li:nth-child(2) ul{
                    color: #005BC1;
                    background: #ffffff;
                    padding: 0 0 15px 5px;
                    border-radius: 6px;
                }

                nav .menu li > #sub-menu li{
                    list-style: none;
                    display: inline-block;
                    font-style: italic;
                    font-size: 15px;
                }

    #sub-menu{
        color: #005BC1;
    }

        .mobile-menu:hover + .menu{
            display: block;
        }

        .menu:hover{
            display: block;
        }


    .main{
        margin: 40px 25px 55px 25px;
    }

        .main a{
            color: #005BC1;
        }

        .catalog-menu{
            display: none;
        }

    .catalog-picture {
        /*margin-bottom: 5px;*/
    }

        .catalog-picture .item{
            display: inline-block;
            margin-bottom: 50px;
            font-size: 15px;
        }

            .catalog-picture .item:nth-child(2n-1){
                padding-right: 15px;
            }

            .catalog-picture .item a{
                display: block;
            }

                .catalog-picture .item a img{
                    width: 195px;
                    height: 135px;
                    margin-bottom: 6px;
                    border: 5px solid #797979;
                }

        .item:hover a img{border: 5px solid #00B31D;}
        .item:hover > a{color: #549EF1;}


    .news{
        font-size: 0;
    }

        .news a{
            font-size: 15px;
            line-height: 18px;
        }

            .news li:first-child{
                margin-top: 16px;
            }

        .news h2{
            color: #058B7A;
            font-size: 21px;
        }

        .news ul{
            list-style: none;
        }

        .news li{
            padding-right: 0;
            list-style: none;
            margin-top: 11px;
            line-height: 16px;
            font-size: 11px;
        }

            .news li:last-child {
                padding-bottom: 0;
            }

        .news .data{
            color: #707070;
            margin-top: 8px;
            font-size: 14px;
            padding-bottom: 18px;
    }

        .news .line{
            width: 100%;
            height: 2px;
            background: #dbdbdb;
        }

    .text{
        font-size: 12px;
        color: #666666;
        margin-top: 50px;
    }

        .text h2{
            font-weight: bold;
            font-size: 21px;
        }

        .text p{
            margin-top: 15px;
            line-height: 16px;
        }

    footer{
        background: url("/img/wrapperBack.png") repeat center;
        color:white;
        min-height: 170px;
        padding-top: 40px;
        padding-right: 25px;
        padding-left: 25px;
    }

    .foot1, .foot2{
        position: relative;
    }

        .foot1 a{
            color: white;
        }

        .foot1 li{
            display: none;
        }

        .foot1 .dev{
            position: absolute;
            font-size: 11px;
            right: 0;
            top: 0;
        }

    .copyright{
        /*float: left;*/
        /*position: absolute;*/
        color: #A4A4A4;
        font-size: 11px;
    }

        .copyright h4{
            /*position: absolute;*/
            /*float: left;*/
            padding-top: 10px;
            font-size: 12px;
            font-weight: bold;
            font-family:Tahoma, sans-serif;
        }

    .foot2{
        padding-top: 15px;
    }

        .foot2 img{
            border: none;
        }

        .foot2 a:last-child{
            position: absolute;
            right: 0;
            bottom: 0;
        }

    .layout-positioner{
        /*width:425px;*/
        margin:0 auto;
        position: relative;
    }

        .layout-positioner:after{
            content:'';
            clear:both;
            display:table;
        }
}
/*
@media (max-width: 540px){
    * {
        color: green;
    }
}*/